.details {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: "row";
  padding: 40px;
}

.details-left {
  width: 75%;
  padding-left: 20px;
  letter-spacing: 0.03em;
  line-height: 161.7%;
  opacity: 0.7;
}

.details img {
  height: 100%;
  width: 25%;
  object-fit: contain;
}

.details-left p span {
  padding-right: 20px;
}

.details-left :nth-child(2) {
  width: 90%;
  margin-top: 50px !important;
}

@media (max-width: 768px) {
  .details {
    flex-direction: column;
  }

  .details img {
    width: 100%;
  }

  .details-left {
    width: 100%;
  }

  .details-left :nth-child(2) {
    width: 100%;
  }
}
